.container {
  max-width: 33em;
}
.container-wide {
  max-width: 49.5em;
}
a, a:link, a:visited, a:active, a:hover {
	color: #008876;
	text-decoration: none;
}
hr {
	border-top: 1px solid #ccc;
	border-bottom: 0;
	margin: 0.5em 0;
}
.progressActive:after {
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 1rem solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 1rem solid transparent;
	border-left: 1rem solid #27bfa8;
	position: absolute;
	top: 50%;
	margin-top: -1rem; 
	left: 100%;
	z-index: 2; 
}
.progressLastStep {
	/*display: none;*/
}
.borderleft-thick {
	border-left-style: solid;
	border-left-width: 0.25rem;
}
.xxxsmall {
	font-size: 0.5rem;
}
.cursor-pointer {
	cursor: pointer;
}
.width-16p66p {
	width: 16.66%;
}
.right-033 {
	right: 0.33rem;
}
.flexProgress a, 
.flexProgress a:link, 
.flexProgress a:visited, 
.flexProgress a:active {
	color: #fff;
	text-decoration: none;
}
.progressActive, .buttonActive {
	background-color: #27bfa8;
}
.progressActive a, 
.progressActive a:link, 
.progressActive a:visited, 
.progressActive a:active,
.buttonActive a, 
.buttonActive a:link, 
.buttonActive a:visited, 
.buttonActive a:active {
	color: #fff;
	text-decoration: none;
}
.progressCompletedPast, .backgroundcolor-customdarkteal {
	background-color: #007566;
}
.progressCompletedPast a, 
.progressCompletedPast a:link, 
.progressCompletedPast a:visited, 
.progressCompletedPast a:active {
	color: #5ab48a;
	text-decoration: none;
}
/*
.progressAvailable {
	background-color: #4DDFC6;
}
*/
.progressDisabled, .progressAvailable {
	background-color: #BFD9D5;
}
.progressDisabled a, 
.progressDisabled a:link, 
.progressDisabled a:visited, 
.progressDisabled a:active {
	color: #fff;
	text-decoration: none;
} 
.backgroundcolor-pastelteal {
	background-color: #CFFCF3;
}
.btn {
	display: inline-block;
	border-radius: 0.5rem;
	padding: 0.625rem 0.75rem 0.5rem 0.75rem;
	text-decoration: none;
	line-height: 1.5;
	min-width: 4rem;
	text-align: center;
	cursor: pointer;
}
.btn-social {
	border-style: none;
	border: 0;
	background-color: #008876;
	color: #fff;
	min-width: 0;
}
.btn-primary {
	border-style: none;
	border: 0;
	background-color: #008876;
	color: #fff;
}
.btn-next {
	border-style: none;
	border: 0;
	background-color: #008876;
	color: #fff;
}
.btn-previous {
	border-style: none;
	border: 0;
	background-color: #999;
	color: #fff;
}
.btn-disabled {
	border-style: none;
	border: 0;
	background-color: #ccc;
	color: #999;
}
.btn-select {
	border-radius: 0;
	border: 2px solid #F2F2F2;
	background-color: #fff;
}
.btn-media-select {
	border: 2px solid #27bfa8;
}
.form-item {
	margin-bottom: 1em;
	display: block;
}
.form-item input {
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
	display: block;
	width: 100%;
}
.letter ul {
	padding-left: 1rem;
}
.fill-white {
	fill: #ffffff;
	color: #ffffff;
}

.full-screen {
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    z-index:999;
    text-align:center;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
}
.faded-out {
    opacity: 0;
}
.faded {
	opacity: 0.7;
}
.ng-hide:not(.ng-hide-animate) {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.questionsCustom {
	font-size: 0.85em;
	color: #666;
}
.questionsCustom strong {
	display: block;
	font-size: 1.176em;
	color: #222;
}
@media screen and (min-width: 48em) {
  .container {max-width: 30em;}
  .width-titleimage-ns {
  	width: 24rem;
  }
  .flexProgress {
  	border-radius: 0.33em;
  }
}
@media screen and (min-width: 48em) and (max-width: 64em) {
  html {font-size: 105%;}
}
@media screen and (min-width: 64em) and (max-width: 86em) {
  html {font-size: 110.25%;}
}
@media screen and (min-width: 86em) and (max-width: 108em) {
  html {font-size: 115.76%;}
}
@media screen and (min-width: 108em) and (max-width: 130em) {
  html {font-size: 121.55%;}
}
@media screen and (min-width: 130em) and (max-width: 152em) {
  html {font-size: 134.01%;}
}
@media screen and (min-width: 152em) {
  html {font-size: 140.71%;}
}