.container {
  max-width: 33em;
}
.container-wide {
  max-width: 49.5em;
}
@media screen and (min-width: 42em) {
  .container {max-width: 30em;}
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  html {font-size: 112.5%;}
}
@media screen and (min-width: 64em) and (max-width: 86em) {
  html {font-size: 126.6%;}
}
@media screen and (min-width: 86em) and (max-width: 108em) {
  html {font-size: 142.4%;}
}
@media screen and (min-width: 108em) and (max-width: 130em) {
  html {font-size: 160.2%;}
}
@media screen and (min-width: 130em) and (max-width: 152em) {
  html {font-size: 180.2%;}
}
@media screen and (min-width: 152em) {
  html {font-size: 202.7%;}
}
.xxxsmall {
	font-size: 0.5rem;
}
.cursor-pointer {
	cursor: pointer;
}
.width-16p66p {
	width: 16.66%;
}
.firstStepActive {
}
.firstStep {
	border-top-left-radius: 0.33em;
	border-bottom-left-radius: 0.33em;
}
.lastStep {
	border-bottom-right-radius: 0.33em;
	border-top-right-radius: 0.33em;
}
.flexProgress {
	border-radius: 0.33em;
	background-color: #BFD9D5;
}
.flexProgress a, 
.flexProgress a:link, 
.flexProgress a:visited, 
.flexProgress a:active {
	color: #fff;
	text-decoration: none;
}
.progressActive {
	background-color: #27bfa8;
}
.progressActive a, 
.progressActive a:link, 
.progressActive a:visited, 
.progressActive a:active {
	color: #fff;
	text-decoration: none;
}
.progressCompletedPast {
	background-color: #008876;
}
.progressCompletedPast a, 
.progressCompletedPast a:link, 
.progressCompletedPast a:visited, 
.progressCompletedPast a:active {
	color: #5ab48a;
	text-decoration: none;
}
.btn {
	display: inline-block;
	border-radius: 0.5rem;
	padding: 0.625rem 0.75rem 0.5rem 0.75rem;
	text-decoration: none;
	line-height: 1.5;
	min-width: 4rem;
	text-align: center;
	cursor: pointer;
}
.btn-primary {
	border-style: none;
	border: 0;
	background-color: #008876;
	color: #fff;
}
.btn-next {
	border-style: none;
	border: 0;
	background-color: #008876;
	color: #fff;
}
.btn-previous {
	border-style: none;
	border: 0;
	background-color: #999;
	color: #fff;
}
.btn-disabled {
	border-style: none;
	border: 0;
	background-color: #999;
	color: #eee;
}
.btn-select {
	border-radius: 0;
	border: 2px solid #F2F2F2;
	background-color: #fff;
}
.form-item {
	margin-bottom: 1em;
	display: block;
}
.form-item input {
	margin-left: 1em;
}