<html ng-app="AMIApp">
<!--

MOSQUITO wants its sweet, sweet data

                //\
               || |
               || |
               |  |
          ______\/_  ,
         '||||||'  (o)
         `------'--  \
                /|\   \
                       \
                       
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title translate="pagetitle">Access My Info</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/tachyons.min.css"/>
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="LangStyle" ng-class="lang" class="backgroundcolor-white">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="full-screen" id="loadingScreen"></div>
    <div ng-controller="LanguageCtrl" class="backgroundcolor-darkestteal clearfix">
        <div class="position-absolute top-1 right-033 right-1-ns" ng-class="{'display-block': showControls, 'display-none': !showControls}">
           <!-- <div class="btn-group" uib-dropdown is-open="status.isopen"> -->
                <!-- <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" title="Select language">
                    {{lang.title}} <span class="caret"></span>
                </button>
            -->
             <ul class="uib-dropdown-menu margin-none" role="menu" aria-labelledby="single-button" class="list display-inline">
                <li ng-repeat="languageOption in languages" role="menuitem" class="list display-inlineblock" >
                    <a ng-click="selectLanguage(languageOption)" class="borderradius-2 marginleft-small lineheight-1 padding-small f7 textalign-center backgroundcolor-black20 white80 cursor-pointer" ng-class="{buttonActive: lang == languageOption}">
                            {{languageOption.title}}
                    </a>
                </li>
             </ul>
            <!-- </div> -->
        </div>

        <header class="navbar">
            <div class="container center textalign-center">
                <a class="textdecoration-none black" href="#/">
                    <h1 class="f-5 paddinghorizontal-small marginbottom-none" ng-class="{'margintop-xlarge': showControls, 'margintop-large': !showControls}"><span class="lightteal">
                        <img class="width-xxxlarge width-titleimage-ns maxwidth-100p marginbottom-small" src="images/ami-logo.svg" alt="Access My Info" />
                    </h1>
                </a>
            </div>
        </header>
    </div>
    <div class="container-wide center" use-placeholder id="mainNav">
        <nav>
            <ol class="padding-none margintop-none margintop-large-ns marginbottom-large marginbottom-xlarge-ns clearfix flexProgress overflow-hidden" ng-controller="ProgressCtrl" ng-class="flexProgress">
              <!-- 
              <li class="float-left width-16p66p xsmall textalign-center padding-xsmall arrow firstStep" ng-class="{progressDisabled: (!previous || activeIndex < 1 || previous.restricted), progressActive: (previous && activeIndex > 0 && !previous.restricted)}">
                <a ng-href="{{previous.path}}" ng-show="(!previous.restricted)"><span><i class="fa fa-arrow-left"></i></span></a>
                <a ng-show="(previous.restricted)"><span><i class="fa fa-arrow-left"></i></span></a>
              </li>
                -->
              <li ng-repeat="stage in stages" class="float-left position-relative width-20p xsmall textalign-center padding-xsmall" ng-class="{progressDisabled: (stage.restricted), progressAvailable: (!stage.selected && !stage.restricted && !stage.pastSelected), progressActive: (stage.selected && !stage.restricted), progressCompletedPast: (stage.pastSelected && !stage.restricted), progressFadeBg: ($last && next === stage && activeIndex !== stages.length - 1), progressLastStep: ($last)}"><!-- bad hiding last step hack on the left! please remove ASAP! -->

                <a class="{{stage.className}}" ng-show="(stage.restricted)">
                    <span class="display-none display-inlineblock-ns margintop-xsmall lineheight-1p5">{{stage.name}}</span>
                    <span class="margintop-xsmall lineheight-1p5 display-none-ns"><strong>{{$index+1}}</strong></span>
                </a>
                <a class="{{stage.className}}" ng-href="{{stage.path}}" target="{{stage.target}}" ng-show="(!stage.restricted)">
                    <span class="display-none display-inlineblock-ns margintop-xsmall lineheight-1p5">{{stage.name}}</span>
                    <span class="margintop-xsmall lineheight-1p5 display-none-ns"><strong>{{$index+1}}</strong></span>
                </a>
              </li>
              <!--
              <li class="float-left width-16p66p xsmall textalign-center padding-xsmall arrow lastStep" ng-class="{progressDisabled: (!next || activeIndex == stages.length - 1 || next.restricted), progressActive: (next && activeIndex !== stages.length && !next.restricted)}">
                <a ng-href="{{next.path}}" ng-show="(!next.restricted)"><span><i class="fa fa-arrow-right"></i></span></a>
                <a ng-show="(next.restricted)"><span><i ng-class="arrowIcon(next)" class="fa fa-arrow-right"></i></span></a>
              </li>
                -->
            </ol>
        </nav>
    </div>

    <!-- OTHER PAGES GET INSERTED HERE -->
    <div ng-view=""></div>
    
    <footer class="backgroundcolor-black80 white margintop-xlarge paddinghorizontal-medium paddinghorizontal-none-ns paddingvertical-large clearfix">
        <div class="container center">
            <p class="xxxsmall white50 site-policy" translate="wrapper.privacy"></p>
            <p class="xxxsmall white50 site-policy" translate="wrapper.disclaimer"></p>
            <p class="xxxsmall white50 site-policy" translate="wrapper.license"></p>
        </div>
    </footer>
<!-- <div class="feedback" ng-controller="FeedbackCtrl" ng-include="'views/feedback.html'"></div> -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/clipboard/dist/clipboard.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/matchmedia/matchMedia.js"></script>
    <script src="bower_components/ngSticky/lib/sticky.js"></script>
    <script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
    <script src="bower_components/pdfmake/build/pdfmake.js"></script>
    <script src="bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/modules/ui-bootstrap-custom-1.1.2.min.js"></script>
    <script src="scripts/modules/ui-bootstrap-custom-tpls-1.1.2.min.js"></script>
    <script src="scripts/license.js"></script>
    <script src="scripts/modules/canvasDoc/canvasdoc.js"></script>
    <script src="scripts/modules/Enter/enter.js"></script>
    <script src="scripts/modules/dataProviderService/dataproviderservice.js"></script>
    <script src="scripts/modules/formItem/formitem.js"></script>
    <script src="scripts/modules/requestTemplate/requesttemplate.js"></script>
    <script src="scripts/modules/ProgressBarNav/progressbarnav.js"></script>
    <script src="scripts/modules/AMIRequest/amirequest.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/controllers/jurisdiction.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/industry.js"></script>
    <script src="scripts/controllers/company.js"></script>
    <script src="scripts/controllers/questions.js"></script>
    <script src="scripts/controllers/subscriberInfo.js"></script>
    <script src="scripts/controllers/request.js"></script>
    <script src="scripts/controllers/content.js"></script>
    <!-- <script src="scripts/controllers/finish.js"></script> -->
    <script src="scripts/controllers/verify.js"></script>
    <script src="scripts/controllers/unsubscribe.js"></script>
    <!-- <script src="scripts/controllers/feedback.js"></script> -->
    <!-- endbuild -->
</body>
</html>
