<!-- <div class="btn btn-default" ng-click="previous()" ng-enter="previous()" tabindex="2"><span class="glyphicon glyphicon-chevron-left"></span> Back to Your Information</div> -->
<h2>Account Details for your {{company.title}} services</h2>
<form>
<fieldset>
<div class="clearfix bg-info p-bg marb10"><span class="va-mid text-center col-xs-1 hidden-xs"><i class="fa fa-barcode bigIcon "></i></span><p class="va-mid col-xs-11"><strong>Your account number</strong> and other details help {{company.title}} identify the information it holds on you. These details can be found on your monthly invoice or in your service's online account portal.</p></div>
<div ng-show="!oneService">
  <div class="checkbox">
      <label ng-class="{'bg-success': companyService.selected}" >
        <input type="checkbox" ng-model="servicesUnderOneAccount" ng-true-value="{{true}}" data-ng-false-value="{{false}}"  tabindex="1" ng-checked="servicesUnderOneAccount"/>
        <span class="glyphicon" ng-class="{'glyphicon-phone-alt': companyService.title=='Mobile Phone', 'glyphicon-phone': companyService.title=='mobile', 'glyphicon-globe': companyService.title=='Home internet'}"></span>Do you have one customer account for your <span ng-repeat="service in services | filter:showService"><span ng-if="!$first && !$last">, </span><span ng-if="$last && !$first"> and </span>{{service.title}}<span ng-if="$first && $last"> service</span><span ng-if="!$first && $last"> services?</span></span>
      </label>
  </div>
</div>
<div ng-if="servicesUnderOneAccount">
  <div class="well">
    <h3><span ng-repeat="service in services | filter:showService"><span ng-if="!$first && !$last">, </span><span ng-if="$last && !$first"> and </span>{{service.title}}<span ng-if="!$first && $last"></span></span></h3>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="singleAccount.number">Account Number <span class="required">*</span></label>
        <input class="form-control" name="singleAccount.number" ng-model="singleAccount.number" tabindex="1"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="singleAccount.email">Email Address Associated with Account</label>
        <input class="form-control" name="singleAccount.email" ng-model="singleAccount.email" tabindex="1"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="singleAccount.phone">Phone Number Associated with Account</label>
        <input class="form-control" name="singleAccount.phone" ng-model="singleAccount.phone" tabindex="1"/>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" tabindex="1" ng-class="{disabled: (!requiredFieldsFilled() || nextIsLoading)}" ng-click="next()">
    <span ng-if="!nextIsLoading">Next</span>
    <span ng-if="nextIsLoading">Please Wait...</span>
    &nbsp;
    <i class="fa" ng-class="{'fa-arrow-right': !nextIsLoading, 'fa-spinner': nextIsLoading, rotating: nextIsLoading}"></i>
  </button>
</div>
<div ng-if="!servicesUnderOneAccount">
  <div class="well" ng-repeat="service in services | filter:showService">
    <h3>{{service.title}}</h3>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="service.account.number">Account Number <span class="required">*</span></label>
        <input class="form-control" name="service.account.number" ng-model="service.account.number" tabindex="1"/>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-6" for="service.account.email">Account Email Address</label>
    </div>
    <div class="row">
      <div class="form-group marb-xs-2 col-sm-6">
        <input class="form-control" name="service.account.email" ng-model="service.account.email" tabindex="1"/>
      </div>
      <div class="col-sm-6 marb-xs-10">
        <span class="btn btn-info btn-sm" ng-if="!$first" ng-click="service.setFirstEmail()"><span class="fa fa-refresh"></span> Same as first</span>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-6" for="service.account.phone">Account Phone Number</label>
    </div>
    <div class="row">
      <div class="form-group marb-xs-2 col-sm-6">
        <input class="form-control" name="service.account.phone" ng-model="service.account.phone" tabindex="1"/>
      </div>
      <div class="col-sm-6 marb-xs-10">
        <span class="btn btn-info btn-sm" ng-if="!$first" ng-click="service.setFirstPhone()"><span class="fa fa-refresh"></span> Same as first</span>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" tabindex="1" ng-class="{disabled: (!requiredFieldsFilled() || nextIsLoading)}" ng-click="next()">
    <span ng-if="!nextIsLoading">Next</span>
    <span ng-if="nextIsLoading">Please Wait...</span>
    &nbsp;
    <i class="fa" ng-class="{'fa-arrow-right': !nextIsLoading, 'fa-spinner': nextIsLoading, rotating: nextIsLoading}"></i>
  </button>
</div>
</fieldset>
</form>