<!-- <div class="btn btn-default marb10" ng-click="previous()" ng-enter="previous()" tabindex="2"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back to Overview</div> -->
<h2>Your Telecommunications Service Providers</h2>
<form>
  <fieldset>
<div class="clearfix bg-info p-bg marb10"><span class="va-mid text-center col-xs-1 hidden-xs"><i class="fa fa-briefcase bigIcon "></i></span><p class="va-mid col-xs-11"><strong>Begin creating your request</strong> by selecting a company that provides you telecommunications services (internet, landline, or mobile telephone). You're entitled to do this for all companies that provide you such services.</p></div>
<div class="well">
  <h3><label for="company">Company <span class="required">*</span></label></h3>
  <div class="row">
    <div class="col-sm-6">
      <select tabindex="1" name="company" ng-model="company" ng-options="company.name for company in companies" class="form-control input-lg">
        <option value="" selected>Select company</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mart10">
      <p class="small">We’ve included as many of the major telecom companies as possible, and we’re working to add more of the smaller providers too. You can suggest a provider you’d like to see added by emailing <a href="mailto:contact@openmedia.ca">contact@openmedia.ca</a>. In the meantime, please consult Christopher Parson's <a href="https://citizenlab.org/2014/05/responding-crisis-canadian-telecommunications/" target="_blank">blog post</a> that includes a template letter you can customize to suit your needs.</p>
    </div>
  </div>
</div>
<div class="well clearfix" ng-show="company">
<h3><label>Service(s) <span class="required">*</span></label></h3>
<div class="checkbox  clearfix" ng-repeat="companyService in services">
    <label class="fat col-sm-6" ng-class="{'bg-success': companyService.selected}" >
      <input type="checkbox" ng-model="companyService.selected" ng-true-value="selected" ng-checked="showService(companyService)" data-ng-false-value=""  tabindex="1" />
      <span class="fa" ng-class="{'fa-phone': companyService.serviceObj.serviceType.name=='telephone', 'fa-mobile': companyService.serviceObj.serviceType.name=='mobile', 'fa-globe': companyService.serviceObj.serviceType.name=='internet'}"></span>&nbsp;{{companyService.serviceObj.name}}
    </label>
    <div class="fat col-sm-6" ng-show="company.linkedDataSets.ixMapStars && companyService.serviceObj.serviceType.name=='internet'">
      <span ng-repeat="star in company.linkedDataSets.ixMapStars" class="fa ixmapstar" ng-class="{'fa-star': star.score == '1', 'fa-star-half-o': star.score == '0.5', 'fa-star-o': star.score == '0'}" title="{{star.star_short_name}}: {{star.score}}/1"></span>
      <br/><a href="ixmaps.ca/transparency.php" target="_blank">ISP Privacy Transparency Score <span class="fa fa-external-link"></span></a>: 
    </div>
</div>
<button class="btn btn-primary" tabindex="1" ng-class="{disabled: (!IsServiceSelected || nextIsLoading)}" ng-click="next()">
<span ng-if="!nextIsLoading">Next</span>
<span ng-if="nextIsLoading">Please Wait...</span>
&nbsp;
<i class="fa" ng-class="{'fa-arrow-right': !nextIsLoading, 'fa-spinner': nextIsLoading, rotating: nextIsLoading}"></i>
</button>
</fieldset>
</form>