<!-- <div class="btn btn-default marb10" ng-click="previous()" ng-enter="previous()" tabindex="2"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back to Overview</div> -->
<div class="container center">
  <h2 class="textalign-center paddinghorizontal-medium paddinghorizontal-none-ns" translate="operator.title" translate-values="{industry: industry.title}"></h2>
  <p class="darkgray lineheight-copy paddinghorizontal-medium paddinghorizontal-none-ns" translate="operator.callout"></p>
  <form>
    <fieldset class="backgroundcolor-black05 bordercolor-lightgrey padding-medium padding-large-ns margin-none">
      <!-- <h3 class="margintop-none" translate="operator.label"></h3> -->
      <div class="clearfix">
          <!-- <select tabindex="1" name="company" ng-model="company" ng-options="company.title for company in companies track by company.id" class="form-control input-lg">
            <option value="" selected>Select company</option>
          </select> -->
        <div ng-repeat="company in companies | orderBy:'title'">
          <div class="btn btn-select height-xlarge display-flex-center content-box" ng-click="selectCompany(company)" ng-class="{'btn-media-select': ($parent.company.id == company.id), 'btn-media': ($parent.company.id !== company.id), disabled:  (nextStage.selecting && $parent.company.id == company.id)}" aria-label="{{company.title}}" aria-role="button">
              <div class="flexgrow-1"><img class="maxheight-xlarge maxwidth-xxlarge" ng-src="{{company.meta.operator_logo.sizes.thumbnail}}" alt="{{company.title}}"></div>
              <h4 class="flexgrow-2 f4 marginbottom-none margintop-none textalign-right">
                {{company.title}}
              </h4>
          </div>
        </div>
      </div>
      <div class="clearfix" ng-show="(services.length > 1)">
        <h3><label><span translate="operator.label-services">Service(s)</span> <span class="required">*</span></label></h3>
        <div class="checkbox  clearfix" ng-repeat="service in services">
          <label ng-class="{'bg-success': service.selected}" >
            <input type="checkbox" ng-model="service.selected" ng-true-value="{{true}}" ng-checked="showService(service)" data-ng-false-value="{{false}}"  tabindex="1" ng-disabled="(services.length == 1)" ng-change="setServices()"/>
          {{service.title}}
          </label>
        </div>
      </div>
        </fieldset>
  </form>
      <div class="clearfix" ng-if="customOperator">
        <p><a ng-click="showCustomOperator = !showCustomOperator"><strong>Help:</strong> My company isn't listed</a></p>
        <form ng-if="showCustomOperator">
         <div class="backgroundcolor-black05 bordercolor-lightgrey padding-medium padding-large-ns margin-none">
          <h3>Add custom company</h3>
          <label class="form-item">Company Name <input type="text" ng-model="customOperator.title"/></label>
          <fieldset>
          <legend>Company Privacy Contact</legend>
          <p>Please provide the contact information for the person responsible for interacting with the public regarding customer privacy. Usually this information can be found on the company's privacy policy.</p>
          <p><strong>Provide either a full mailing address or an email address.</strong></p>
          <label class="form-item">Email address <input type="text" ng-model="customOperator.meta.privacy_officer_email"/></label>
          <label class="form-item">Address 1 <input type="text" ng-model="customOperator.meta.privacy_contact_address_1"/></label>
          <label class="form-item">Address 2 <input type="text" ng-model="customOperator.meta.privacy_contact_address_2"/></label>
          <label class="form-item">City <input type="text" ng-model="customOperator.meta.privacy_contact_city"/></label>
          <label class="form-item">Province / State <input type="text" ng-model="customOperator.meta.privacy_contact_province_state"/></label>
          <label class="form-item">Postal/Zip Code <input type="text" ng-model="customOperator.meta.privacy_contact_postal_code"/></label>
          <label class="form-item">Country <input type="text" ng-model="customOperator.meta.privacy_contact_country"/></label>
          </fieldset>
          </div>
        </form>
      </div>
      <div class="margintop-medium clearfix">
        <button ng-click="previous()" class="btn btn-previous float-left" ng-disabled="(previousStage.selecting || previousStage.restricted)">
            <span translate="status.previous"></span>
        </button>
        <button ng-click="next()" class="btn float-right" ng-disabled="nextStage.selecting || nextStage.restricted" ng-class="{'btn-primary': (!nextStage.selecting && !nextStage.restricted), 'btn-disabled': (nextStage.selecting || nextStage.restricted)}">
          <span translate="status.next"></span>
        </button>
      </div>
</div>