<!-- <div class="btn btn-default marb10" ng-click="previous()" ng-enter="previous()" tabindex="2"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back to Overview</div> -->
<h2>{{industry.title}}: Select an organization</h2>
<form>
  <fieldset>
<div class="clearfix bg-info p-bg marb10"><span class="va-mid text-center col-xs-1 hidden-xs"><i class="fa fa-briefcase bigIcon "></i></span><p class="va-mid col-xs-11"><strong>Begin creating your request</strong> by selecting an organization that provides your services. You're entitled to do this for all organizations that provide you such services.</p></div>
<div class="well">
  <h3>Organization</h3>
  <div class="row">
      <!-- <select tabindex="1" name="company" ng-model="company" ng-options="company.title for company in companies track by company.id" class="form-control input-lg">
        <option value="" selected>Select company</option>
      </select> -->
    <div class="col-sm-6 mart10" ng-repeat="company in companies">
      <div class="btn btn-blocky" ng-click="selectCompany(company)" ng-class="{'btn-media-select': ($parent.company.id == company.id), 'btn-media': ($parent.company.id !== company.id), disabled:  (nextStage.selecting && $parent.company.id == company.id)}" aria-label="{{company.title}}" aria-role="button">
        <img ng-src="{{company.meta.operator_logo.url}}" width="100px" ng-if="!(nextStage.selecting && $parent.company.id == company.id)"/>
        <div class="marl10" ng-if="!(nextStage.selecting && $parent.company.id == company.id)">
          <h4>{{company.title}}</h4>
          <div ng-bind-html="company.content"></div>
        </div>
        <i class="fa big-icon fa-spinner rotating" ng-if="(nextStage.selecting && $parent.company.id == company.id)"></i> 
        <h4 class="marl10" ng-if="(nextStage.selecting && $parent.company.id == company.id)">&nbsp;Please Wait...</h4>
      </div>
    </div>
  </div>
</div>
<div class="well clearfix" ng-show="(services.length > 1)">
<h3><label>Service(s) <span class="required">*</span></label></h3>
<div class="checkbox  clearfix" ng-repeat="service in services">
    <label class="fat col-sm-6" ng-class="{'bg-success': service.selected}" >
      <input type="checkbox" ng-model="service.selected" ng-true-value="{{true}}" ng-checked="showService(service)" data-ng-false-value="{{false}}"  tabindex="1" ng-disabled="(services.length == 1)" ng-change="setServices()"/>
      {{service.title}}
    </label>
</div>
</div>
<a ng-href="{{nextStage.path}}" class="btn btn-primary" ng-class="{disabled:  (nextStage.selecting || nextStage.restricted)}">
<span ng-if="!nextStage.selecting">&nbsp;Next</span>
<span ng-if="nextStage.selecting">&nbsp;Please Wait...</span>
<i class="fa" ng-class="{'fa-arrow-right': !nextStage.selecting, 'fa-spinner': nextStage.selecting, rotating: nextStage.selecting}"></i> 
</a>
</fieldset>
</form>