<div class="modal-header">
    <h3 class="modal-title">Share your feedback</h3>
</div>
<div class="modal-body" id="feedbackModal">
    <div class="lead">We are seeking your opinion about your experience using <em>Access My Info</em>. Please share as much or as little as you wish. Thank you for your assistance in improving this tool.</div>
    <hr>
    <form>
    <p><strong><em>Access My Info</em> is easy to use.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="easyToUse" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="easyToUse" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="easyToUse" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="easyToUse" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="easyToUse" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I learned to use it quickly.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="quickToLearn" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="quickToLearn" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="quickToLearn" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="quickToLearn" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="quickToLearn" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>It requires the fewest steps possible to accomplish what I want to do with it.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="fewSteps" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="fewSteps" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="fewSteps" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="fewSteps" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="fewSteps" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I can use it without written instructions.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="noInstructions" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="noInstructions" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="noInstructions" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="noInstructions" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="noInstructions" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I can recover from mistakes quickly and easily.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="mistakeRecover" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="mistakeRecover" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="mistakeRecover" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="mistakeRecover" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="mistakeRecover" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I can use it successfully every time.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="success" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="success" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="success" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="success" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="success" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I am satisfied with it.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="satisfied" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="satisfied" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="satisfied" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="satisfied" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="satisfied" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I would recommend it to a friend.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="recommend" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="recommend" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="recommend" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="recommend" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="recommend" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>


    <div><strong>What did you like about Access My Info?</strong>
        <textarea class="form-control" rows="3"></textarea>
    </div>

    <div><strong>What challenges did you face while using Access My Info?</strong>
        <textarea class="form-control" rows="3"></textarea>
    </div>

    <div><strong>Do you have any other comments?</strong>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>