<div class="modal-header">
    <h3 class="modal-title">Share your feedback</h3>
</div>
<div class="modal-body" id="feedbackModal">
    <form ng-submit="processForm()" id="feedbackForm">
    <div class="lead">Please share your thoughts on using <em>Access My Info</em>.</div>
    <hr>
    <p><strong><em>Access My Info</em> is easy to use.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="ordinals-easyToUse" ng-model="formData.ordinals.easyToUse" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-easyToUse" ng-model="formData.ordinals.easyToUse" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-easyToUse" ng-model="formData.ordinals.easyToUse" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-easyToUse" ng-model="formData.ordinals.easyToUse" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-easyToUse" ng-model="formData.ordinals.easyToUse" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I learned to use it quickly.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="ordinals-quickToLearn" ng-model="formData.ordinals.quickToLearn" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-quickToLearn" ng-model="formData.ordinals.quickToLearn" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-quickToLearn" ng-model="formData.ordinals.quickToLearn" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-quickToLearn" ng-model="formData.ordinals.quickToLearn" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-quickToLearn" ng-model="formData.ordinals.quickToLearn" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>It requires the fewest steps possible to accomplish what I want to do with it.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="ordinals-fewSteps" ng-model="formData.ordinals.fewSteps" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-fewSteps" ng-model="formData.ordinals.fewSteps" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-fewSteps" ng-model="formData.ordinals.fewSteps" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-fewSteps" ng-model="formData.ordinals.fewSteps" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-fewSteps" ng-model="formData.ordinals.fewSteps" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I can use it without written instructions.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="ordinals-noInstructions" ng-model="formData.ordinals.noInstructions" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-noInstructions" ng-model="formData.ordinals.noInstructions" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-noInstructions" ng-model="formData.ordinals.noInstructions" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-noInstructions" ng-model="formData.ordinals.noInstructions" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-noInstructions" ng-model="formData.ordinals.noInstructions" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I can recover from mistakes quickly and easily.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="ordinals-mistakeRecover" ng-model="formData.ordinals.mistakeRecover" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-mistakeRecover" ng-model="formData.ordinals.mistakeRecover" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-mistakeRecover" ng-model="formData.ordinals.mistakeRecover" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-mistakeRecover" ng-model="formData.ordinals.mistakeRecover" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-mistakeRecover" ng-model="formData.ordinals.mistakeRecover" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I can use it successfully every time.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="ordinals-success" ng-model="formData.ordinals.success" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-success" ng-model="formData.ordinals.success" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-success" ng-model="formData.ordinals.success" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-success" ng-model="formData.ordinals.success" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-success" ng-model="formData.ordinals.success" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I am satisfied with it.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="ordinals-satisfied" ng-model="formData.ordinals.satisfied" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-satisfied" ng-model="formData.ordinals.satisfied" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-satisfied" ng-model="formData.ordinals.satisfied" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-satisfied" ng-model="formData.ordinals.satisfied" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-satisfied" ng-model="formData.ordinals.satisfied" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>

    <p><strong>I would recommend it to a friend.</strong>
    <span><br/>Strongly Agree
        <label class="radio-inline">
          <input type="radio" name="ordinals-recommend" ng-model="formData.ordinals.recommend" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-recommend" ng-model="formData.ordinals.recommend" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-recommend" ng-model="formData.ordinals.recommend" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-recommend" ng-model="formData.ordinals.recommend" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-recommend" ng-model="formData.ordinals.recommend" id="inlineRadio5" value="5">5
        </label>
        Strongly Disagree</span>
    </p>


    <div><strong>What did you like about Access My Info?</strong>
        <textarea class="form-control" name="text-like" ng-model="formData.text.like" rows="3"></textarea>
    </div>

    <div><strong>What challenges did you face while using Access My Info?</strong>
        <textarea class="form-control" name="text-challenge" ng-model="formData.text.challenge" rows="3"></textarea>
    </div>

    <div><strong>What industries or government departments would you like to see AMI support next?</strong>
        <textarea class="form-control" name="text-industry" ng-model="formData.text.industry" rows="3"></textarea>
    </div>

    <div><strong>Do you have any other comments?</strong>
        <textarea class="form-control" name="text-general" ng-model="formData.text.general" rows="3"></textarea>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" form="feedbackForm" type="submit" tabindex="1" ng-class="{disabled: (!requiredFieldsFilled() || rateLimited || success || serverIsLoading || serverDown), 'btn-warning': rateLimited, 'btn-danger': serverDown}" ng-click="submit()" ng-enter="submit()">
        <span ng-if="!serverIsLoading && !success && !serverError">Submit Feedback</span>
        <span ng-if="serverIsLoading && !success">Please Wait...</span>
        <span ng-if="serverDown">Error.</span>
        <span ng-if="rateLimited">Try again later.</span>
        <span ng-if="success">Thank you.</span>
        &nbsp;
        <i class="fa" ng-class="{'fa-arrow-right': !serverIsLoading && !success, 'fa-check-circle': !serverIsLoading && success, 'fa-spinner': serverIsLoading, 'rotating': serverIsLoading, 'fa-exclamation-triangle': serverDown || rateLimited}"></i>
        </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>