<div class="modal-header">
    <h3 class="modal-title" translate="feedback.modal.title"></h3>
</div>
<div class="modal-body" id="feedbackModal">
    <form ng-submit="processForm()" id="feedbackForm">
    <div class="lead" translate="feedback.modal.desc"></div>
    <hr>
    <p><strong translate="feedback.questions.easyToUse"></strong>
    <span><br/><span translate="feedback.modal.agree"></span>
        <label class="radio-inline">
          <input type="radio" name="ordinals-easyToUse" ng-model="formData.ordinals.easyToUse" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-easyToUse" ng-model="formData.ordinals.easyToUse" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-easyToUse" ng-model="formData.ordinals.easyToUse" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-easyToUse" ng-model="formData.ordinals.easyToUse" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-easyToUse" ng-model="formData.ordinals.easyToUse" id="inlineRadio5" value="5">5
        </label>
        <span translate="feedback.modal.disagree"></span></span>
    </p>

    <p><strong translate="feedback.questions.quickToLearn"></strong>
    <span><br/><span translate="feedback.modal.agree"></span>
        <label class="radio-inline">
          <input type="radio" name="ordinals-quickToLearn" ng-model="formData.ordinals.quickToLearn" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-quickToLearn" ng-model="formData.ordinals.quickToLearn" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-quickToLearn" ng-model="formData.ordinals.quickToLearn" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-quickToLearn" ng-model="formData.ordinals.quickToLearn" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-quickToLearn" ng-model="formData.ordinals.quickToLearn" id="inlineRadio5" value="5">5
        </label>
        <span translate="feedback.modal.disagree"></span></span>
    </p>

    <p><strong translate="feedback.questions.fewSteps"></strong>
    <span><br/><span translate="feedback.modal.agree"></span>
        <label class="radio-inline">
          <input type="radio" name="ordinals-fewSteps" ng-model="formData.ordinals.fewSteps" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-fewSteps" ng-model="formData.ordinals.fewSteps" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-fewSteps" ng-model="formData.ordinals.fewSteps" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-fewSteps" ng-model="formData.ordinals.fewSteps" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-fewSteps" ng-model="formData.ordinals.fewSteps" id="inlineRadio5" value="5">5
        </label>
        <span translate="feedback.modal.disagree"></span></span>
    </p>

    <p><strong translate="feedback.questions.noInstructions"></strong>
    <span><br/><span translate="feedback.modal.agree"></span>
        <label class="radio-inline">
          <input type="radio" name="ordinals-noInstructions" ng-model="formData.ordinals.noInstructions" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-noInstructions" ng-model="formData.ordinals.noInstructions" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-noInstructions" ng-model="formData.ordinals.noInstructions" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-noInstructions" ng-model="formData.ordinals.noInstructions" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-noInstructions" ng-model="formData.ordinals.noInstructions" id="inlineRadio5" value="5">5
        </label>
        <span translate="feedback.modal.disagree"></span></span>
    </p>

    <p><strong translate="feedback.questions.mistakeRecover"></strong>
    <span><br/><span translate="feedback.modal.agree"></span>
        <label class="radio-inline">
          <input type="radio" name="ordinals-mistakeRecover" ng-model="formData.ordinals.mistakeRecover" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-mistakeRecover" ng-model="formData.ordinals.mistakeRecover" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-mistakeRecover" ng-model="formData.ordinals.mistakeRecover" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-mistakeRecover" ng-model="formData.ordinals.mistakeRecover" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-mistakeRecover" ng-model="formData.ordinals.mistakeRecover" id="inlineRadio5" value="5">5
        </label>
        <span translate="feedback.modal.disagree"></span></span>
    </p>

    <p><strong translate="feedback.questions.success"></strong>
    <span><br/><span translate="feedback.modal.agree"></span>
        <label class="radio-inline">
          <input type="radio" name="ordinals-success" ng-model="formData.ordinals.success" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-success" ng-model="formData.ordinals.success" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-success" ng-model="formData.ordinals.success" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-success" ng-model="formData.ordinals.success" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-success" ng-model="formData.ordinals.success" id="inlineRadio5" value="5">5
        </label>
        <span translate="feedback.modal.disagree"></span></span>
    </p>

    <p><strong translate="feedback.questions.satisfied"></strong>
    <span><br/><span translate="feedback.modal.agree"></span>
        <label class="radio-inline">
          <input type="radio" name="ordinals-satisfied" ng-model="formData.ordinals.satisfied" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-satisfied" ng-model="formData.ordinals.satisfied" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-satisfied" ng-model="formData.ordinals.satisfied" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-satisfied" ng-model="formData.ordinals.satisfied" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-satisfied" ng-model="formData.ordinals.satisfied" id="inlineRadio5" value="5">5
        </label>
        <span translate="feedback.modal.disagree"></span></span>
    </p>

    <p><strong translate="feedback.questions.recommend"></strong>
    <span><br/><span translate="feedback.modal.agree"></span>
        <label class="radio-inline">
          <input type="radio" name="ordinals-recommend" ng-model="formData.ordinals.recommend" id="inlineRadio1" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-recommend" ng-model="formData.ordinals.recommend" id="inlineRadio2" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-recommend" ng-model="formData.ordinals.recommend" id="inlineRadio3" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-recommend" ng-model="formData.ordinals.recommend" id="inlineRadio4" value="4">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="ordinals-recommend" ng-model="formData.ordinals.recommend" id="inlineRadio5" value="5">5
        </label>
        <span translate="feedback.modal.disagree"></span></span>
    </p>


    <div><strong translate="feedback.questions.like"></strong>
        <textarea class="form-control" name="text-like" ng-model="formData.text.like" rows="3"></textarea>
    </div>

    <div><strong translate="feedback.questions.challenge"></strong>
        <textarea class="form-control" name="text-challenge" ng-model="formData.text.challenge" rows="3"></textarea>
    </div>

    <div><strong translate="feedback.questions.industry"></strong>
        <textarea class="form-control" name="text-industry" ng-model="formData.text.industry" rows="3"></textarea>
    </div>

    <div><strong translate="feedback.questions.general"></strong>
        <textarea class="form-control" name="text-general" ng-model="formData.text.general" rows="3"></textarea>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" form="feedbackForm" type="submit" tabindex="1" ng-class="{disabled: (!requiredFieldsFilled() || rateLimited || success || serverIsLoading || serverDown), 'btn-warning': rateLimited, 'btn-danger': serverDown}" ng-click="submit()" ng-enter="submit()">
        <span ng-if="!serverIsLoading && !success && !serverError" translate="feedback.modal.submit"></span>
        <span ng-if="serverIsLoading && !success" translate="status.wait"></span>
        <span ng-if="serverDown" translate="status.error"></span>
        <span ng-if="rateLimited" translate="status.tryAgain"></span>
        <span ng-if="success" translate="status.thanks"></span>
        &nbsp;
        <i class="fa" ng-class="{'fa-arrow-right': !serverIsLoading && !success, 'fa-check-circle': !serverIsLoading && success, 'fa-spinner': serverIsLoading, 'rotating': serverIsLoading, 'fa-exclamation-triangle': serverDown || rateLimited}"></i>
        </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()" translate="feedback.modal.submit"></button>
</div>
</form>