<div class="row">
  <div class="col-xs-12">
  <h1>Help out the research</h1>
  <div class="form-group">
  <div class="checkbox">
    <label><input type="checkbox" ng-model="statistics"/>I would like to share the following data with AMI researchers:</label>
  </div>
  <p class="help-block">Request made to {{anon.operator.title}} in {{anon.jurisdiction.title}} on {{anon.date}}.</p>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="subscribe"/>I would like to subscribe to receive email updates to support me throught the request process.</label>
  </div>
  <p class="help-block">This may involve an email sent after several days to check if you've received a response from {{anon.operator.title}}, that includes instructions on what to do if you haven't. You'll also get an invitation to fill out a short questionnaire. We won't share your email with any third parties, other than the email service we use to send the emails themselves.</p>
  </div>
    <div class="btn btn-primary" ng-click="submit()">Submit</div>
    {{response}}
  </div>
</div>
