<!-- <div class="btn btn-default marb10" ng-click="previous()" ng-enter="previous()" tabindex="2"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back to Overview</div> -->
<div class="container center">
    <h2 class="textalign-center paddinghorizontal-medium paddinghorizontal-none-ns" translate="category.title"></h2>
    <div class="lineheight-copy darkgray paddinghorizontal-medium paddinghorizontal-none-ns">
        <p translate="category.callout"></p>
    </div>

    <form>
        <fieldset class="backgroundcolor-black05 bordercolor-lightgrey paddingtop-small paddinghorizontal-small paddingbottom-large margin-none">
            <div>
                <!-- <h3>
                    <label for="category" translate="category.label">Category</label>
                </h3> -->
                <div class="lineheight-1p5 f5 b textalign-center">
                    <!-- <p class="margintop-none" translate="category.requestsProcessed"></p> -->
                    <div class="padding-medium marginbottom-small backgroundcolor-white">
                        <img class="opacity-80p display-block width-xxxlarge center" src="images/illustrations/AmiIntro1.png" />
                        <p class="marginbottom-none" translate="category.instruction1"></p>
                    </div>

                    <div class="padding-medium marginbottom-small backgroundcolor-white">
                        <img class="opacity-80p display-block width-xxxlarge center" src="images/illustrations/AmiIntro2.png" />
                        <p class="marginbottom-none" translate="category.instruction2"></p>
                    </div>

                    <div class="padding-medium backgroundcolor-white">
                        <img class="opacity-80p display-block width-xxxlarge center" src="images/illustrations/AmiIntro3.png" />
                        <p class="marginbottom-none" translate="category.instruction3"></p>
                    </div>
                </div>
                <!-- <p>
                    <img class="width-100p" src="images/how-it-works.png" />
                </p> -->
                <div>
            <!--       <select tabindex="1" name="industry" ng-model="industry" ng-options="industry.title for industry in industries track by industry.id" class="form-control input-lg">
                    <option value="" selected>Select industry</option>
                </select> -->
                    <div class="margintop-large textalign-center" ng-repeat="industry in industries">
                        <div class="btn btn-primary" ng-click="selectIndustry(industry)" aria-label="{{industry.title}}" aria-role="button">
                        <!-- took out ng-class from above because no selection for this campaign
                         ng-class="{'btn-media-select': ($parent.industry.id == industry.id), 'btn-media': ($parent.industry.id !== industry.id), disabled:  (nextStage.selecting && $parent.industry.id == industry.id)}" -->

                            <!-- <img ng-src="images/categories/{{industry.id}}.svg" width="100px" ng-if="!(nextStage.selecting && $parent.industry.id == industry.id)"/> -->
                            <!-- <div ng-if="!(nextStage.selecting && $parent.industry.id == industry.id)"> -->
                                <!-- <h4>{{industry.title}}</h4>
                                <div ng-bind-html="industry.content"></div> -->
                                <span translate="category.start"></span>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
    </fieldset>
    </form>
</div>

<div class="container-wide paddinghorizontal-medium paddinghorizontal-none-ns margintop-large margintop-xlarge-ns center verticalalign-center textalign-center clearfix">
    <div>
        <p class="f5 b display-inlineblock marginbottom-medium" translate="category.sponsorStatement"></p>
    </div>
    <a href="http://www.com.cuhk.edu.hk">
        <img class="display-block display-inline-ns height-large marginhorizontal-auto marginvertical-medium marginhorizontal-medium-ns paddingvertical-medium" src="images/cuhk-logo.png" />
    </a>
    <a href="http://inmediahk.net/">
        <img class="display-block display-inline-ns height-xlarge marginhorizontal-auto marginvertical-medium marginhorizontal-medium-ns" src="images/inmedia-logo.png" />
    </a>
    <a href="https://kbfl.org">
        <img class="display-block display-inline-ns height-xlarge marginhorizontal-auto marginvertical-medium marginhorizontal-medium-ns" src="images/keyboardfrontline-logo.png" />
    </a>
    <a href="https://openeffect.ca/">
        <img class="display-block display-inline-ns height-large marginhorizontal-auto marginvertical-medium marginhorizontal-medium-ns paddingvertical-medium" src="images/open-effect-logo.png" />
    </a>
    <a href="https://citizenlab.org/">      
        <img class="display-block display-inline-ns height-xlarge marginhorizontal-auto marginvertical-medium marginhorizontal-medium-ns" src="images/citizen-lab-logo.png" />
    </a>
</div>

<div class="container-wide center margintop-large margintop-xlarge-ns clearfix">
    <div class="float-left width-60p-ns paddinghorizontal-medium paddinghorizontal-large-ns">
        <h3>
            <span translate="category.info-1-title"></span>
        </h3>
        <p class="lineheight-1p5 f6-ns">
            <span translate="category.info-1"></span>
        </p>
    </div>
    <div class="float-left width-40p-ns paddinghorizontal-medium paddinghorizontal-large-ns">
        <h3>
            <span translate="category.more-info-title"></span>
        </h3>
        <ul class="lineheight-1p5 f6-ns paddingleft-medium">
            <li><a href="#/about">About us</a></li>
            <li><a href="#/faq">F.A.Q.</a></li>
            <li><a href="#/contact">Contact us</a></li>
            <li><a href="#/press-kit">Press Kit</a></li>
        </ul>
    </div>
</div>