<!-- <div class="btn btn-default marb10" ng-click="previous()" ng-enter="previous()" tabindex="2"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back to Overview</div> -->
<div class="container center">
    <h2 class="textalign-center paddinghorizontal-medium paddinghorizontal-none-ns" translate="category.title"></h2>
    <div class="lineheight-copy darkgray paddinghorizontal-medium paddinghorizontal-none-ns">
        <p translate="category.callout"></p>
    </div>

    <form>
        <fieldset class="backgroundcolor-black05 bordercolor-lightgrey paddingvertical-small paddinghorizontal-medium margin-none">
            <div>
                <!-- <h3>
                    <label for="category" translate="category.label">Category</label>
                </h3> -->
                <div class="lineheight-1p5 f5 b textalign-center">
                    <!-- <p class="margintop-none" translate="category.requestsProcessed"></p> -->
                    <p translate="category.instruction1"></p>
                </div>
                <!-- <p>
                    <img class="width-100p" src="images/how-it-works.png" />
                </p> -->
            <!--       <select tabindex="1" name="industry" ng-model="industry" ng-options="industry.title for industry in industries track by industry.id" class="form-control input-lg">
                    <option value="" selected>Select industry</option>
                </select> -->
                    <div ng-repeat="industry in industries">
                        <div class="btn btn-select height-xlarger btn-icon display-flex-center content-box" ng-click="selectIndustry(industry)" aria-label="{{industry.title}}" aria-role="button"
                         ng-class="{'btn-media-select': ($parent.industry.id == industry.id), 'btn-media': ($parent.industry.id !== industry.id), disabled:  (nextStage.selecting && $parent.industry.id == industry.id)}">
                            <div class="flexgrow-1 textalign-center" style="min-width:5rem"><img nag-svg svgpath="images/categories/{{industry.id}}.svg" class="marginright-medium width-large height-large width-xlarge height-xlarge icon" /></div>
                            <div class="flexgrow-2 textalign-left-ns">
                                <h4 class="f4 margintop-none marginbottom-small">{{industry.title}}</h4>
                                <div class="f5 lineheight-1p3" ng-bind-html="industry.content"></div>
                                <!-- <span translate="category.start"></span> -->
                            </div>
                        </div>
                    </div>
                    <div class="margintop-large lineheight-1p5 f5 textalign-center">
                        <p translate="category.instruction2"></p>
                    </div>
                </div>
            </div>
    </fieldset>
    </form>
</div>