<!-- <div class="clearfix row">
  <div class="col-xs-12 col-sm-4 marb-xs-5">
    <div class="btn btn-default btn-sm btn-block" tabindex="3" ng-enter="previous()" ng-click="previous()"><span class="fa fa-chevron-left"></span>&nbsp;Back to Account Details</div>
  </div>
</div> -->
<div>
  <h2 class="clearfix">Your Request to {{company.name}}</h2>
  <div class="clearfix mart10 marb10">
    <div class="pull-right btn btn-info btn-sm" ng-if="(displayInstructions && letterDoneState)" ng-click="instructionsDisplayToggle()">Hide Instructions <i class="fa fa-chevron-up"></i></div>
    <div class="pull-right btn btn-info btn-sm" ng-if="(!displayInstructions && letterDoneState)" ng-click="instructionsDisplayToggle()">Show Instructions <i class="fa fa-chevron-down"></i></div>
  </div>
  <p ng-if="(!letterDoneState || displayInstructions)" class="bigger"><strong>Please read over the generated letter carefully!</strong></p>
</div>
<div class="clearfix row">
  <div class="col-xs-12 col-sm-6">
    <div ng-if="(!letterDoneState || displayInstructions)">
      <p class="p-bg bg-success bigger"><strong>Option 1:</strong> Print your letter by first generating a PDF with the below button. Put it in an envelope and mail to: </p>
      <div class="clearfix row">
        <address class="small col-xs-12 col-sm-11 col-sm-offset-1">
          <strong>{{company.name}} {{company.contactActor.title}}</strong>
          <br/>{{company.address.address1}}
          <br ng-if="company.address.address2"/>{{company.address.address2}}
          <br/>{{company.address.city}}, {{company.address.province}}
          <br/>{{company.address.postalcode}}
          <div ng-if="company.email" class="mart5">Or email to: {{company.email}}</div>
        </address>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 visible-xs marb10">
    <div class="btn btn-lg marb10 marb-xs-5 btn-block generatorBtn" ng-class="{disabled:letter.isGenerating, 'btn-success':letter.isGenerated, 'btn-primary': !letter.isGenerated, faded: (letterDoneState && !displayInstructions)}" ng-click="save()" ng-enter="save()" tabindex="1">
        <span class="fa" ng-class="{'fa-file-pdf-o': !nextIsLoading, 'fa-spinner': nextIsLoading, rotating: nextIsLoading}"></span> 
      <span ng-show="!letter.isGenerating && !letter.isGenerated">
         &nbsp;Generate Letter (PDF)
        </span>
        <span ng-show="letter.isGenerating && !letter.isGenerated">
          &nbsp;Please Wait
        </span>
        <span ng-show="!letter.isGenerating && letter.isGenerated">
          &nbsp;Re-save Letter
        </span>
    </div>

  </div>
  <div class="col-xs-12 col-sm-6">
    <div ng-if="(!letterDoneState || displayInstructions)"><div ng-if="company.email"><p  class="p-bg bg-info bigger"><strong>Option 2: </strong> Email your letter using the email button. If that doesn't work, or <strong>if using webmail</strong>, please <u>copy and paste</u> the letter below and send to:</p>
    <div class="clearfix row">
        <address class="small col-xs-12 col-sm-11 col-sm-offset-1">
          {{company.name}} {{company.contactActor.title}}
          <br/><strong>{{company.email}}</strong>
        </address>
    </div></div>
    <span class="marb10 bg-danger p-bg" ng-if="!company.email"><strong>Option 2 Unavailable: </strong> No email listed for company privacy officer.</span>
    </div>
  </div>
</div>
<div class="clearfix row" ng-class="{faded: (letterDoneState && !displayInstructions)}">
  <div class="col-xs-12 col-sm-6 hidden-xs">
    <div class="btn btn-lg marb10 marb-xs-5 btn-block generatorBtn" ng-class="{disabled:letter.isGenerating, 'btn-success':letter.isGenerated, 'btn-primary': !letter.isGenerated}" ng-click="save()" ng-enter="save()" tabindex="1">
        <span class="fa" ng-class="{'fa-file-pdf-o': !nextIsLoading, 'fa-spinner': nextIsLoading, rotating: nextIsLoading}"></span> 
      <span ng-show="!letter.isGenerating && !letter.isGenerated">
         &nbsp;Generate Letter (PDF)
        </span>
        <span ng-show="letter.isGenerating && !letter.isGenerated">
          &nbsp;Please Wait
        </span>
        <span ng-show="!letter.isGenerating && letter.isGenerated">
          &nbsp;Re-save Letter
        </span>
    </div>

  </div>
  <div class="col-xs-12 col-sm-6">
    <div>
      <a class="btn marb10 btn-primary btn-lg btn-block" ng-class="{disabled: !company.email}" ng-href="{{email}}" target="_parent" tabindex="1" ng-click="emailClick()" ng-mouseenter="emailBtnHover = true" ng-mouseleave="emailBtnHover = false" >
        <span class="fa fa-send"></span>&nbsp;&nbsp;Email Request
      </a>
      <div class="tooltip-container" ng-if="(displayEmailExtras && emailBtnHover)">
        <div class="tooltip bottom">
          <div class="tooltip-arrow"></div>
          <div class="tooltip-inner">
            Problem? Simply copy &amp; paste the below text into your email client and send to {{company.email}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix p-bg p-bg-l bg-success mart10 marb10" ng-if="letterDoneState">
  <h2 class="mart0 marb10">Thanks for creating your letter!</h2>
  <a class="btn btn-primary btn-xl btn-block" href="https://openmedia.ca/MyInfo/reminder" target="_parent">Continue on to maximize your impact&nbsp;<i class="fa fa-external-link"></i></a>
</div>

<div class="well">
  <div id="richLetter">
    <div>
      <p>{{customer.firstName}} {{customer.lastName}}
      <br/>{{customer.address.address1}}
      <br ng-if="customer.address.address2"/>{{customer.address.address2}}
      <br/>{{customer.address.city}}<span ng-if="customer.address.province">,</span> {{customer.address.province}}
      <br/>{{customer.address.postalcode}}</p>
    </div>
    <p>{{date}}</p>
    <div>
      <p>{{company.address.address1}}
      <br ng-if="company.address.address2"/>{{company.address.address2}}
      <br/>{{company.address.city}}, {{company.address.province}}
      <br/>{{company.address.postalcode}}</p>
    </div>
    <p>To: {{company.name}} {{company.contactActor.title}},</p>
    <p>Re: {{customer.firstName}} {{customer.lastName}}</p>
    <div>
      <p>Dear {{company.contactActor.firstName}} {{company.contactActor.lastName}}<span ng-if="company.contactActor.lastName">,</span> {{company.contactActor.title}}:</p>
    </div>
    <p>I am a subscriber to your <span ng-repeat="service in services | filter:showService"><span ng-if="!$first && !$last">, </span><span ng-if="$last && !$first"> and </span>{{service.serviceObj.name}}<span ng-if="$first && $last"> service</span><span ng-if="!$first && $last"> services</span></span>, and am interested in understanding the kinds of personal information that you maintain and retain about me. So this is a request to access my personal data under Principle 4.9 of Schedule 1 and section 8 of Canada's federal privacy legislation, the Personal Information Protection and Electronic Documents Act (PIPEDA).</p>
    <p>I am requesting a copy of all records which contain my personal information from your organization. The following is a non-exclusive listing of all information that {{company.name}} may hold about me, including the following:
    <ul>
    <li ng-repeat="servicePiiType in piiTypes" class="piiItem">{{servicePiiType}}<br></li>
    </ul>
    <p>If your organization has other information in addition to these items, I formally request access to that as well. Please ensure that you include all information that is directly associated with my name, phone number, e-mail, or account number, as well as any other account identifiers that your company may associate with my personal information.</p>
    <p>You are obligated to provide copies at a free or minimal cost within thirty (30) days in receipt of this message. If you choose to deny this request, you must provide a valid reason for doing so under Canada's PIPEDA. Ignoring a written request is the same as refusing access. See the guide from the Office of the Privacy Commissioner at: <a href="http://www.priv.gc.ca/information/guide_e.asp#014">http://www.priv.gc.ca/information/guide_e.asp#014</a>. The Commissioner is an independent oversight body that handles privacy complaints from the public.</p>
    <p>Please let me know if your organization requires additional information from me before proceeding with my request.</p>
    <p>Here is information that may help you identify my records:</p>
    <p>Full Name: <strong>{{customer.firstName}} {{customer.lastName}}</strong>

    <div ng-if="!servicesUnderOneAccount">
    <p ng-repeat="service in services | filter:showService"><strong>{{service.serviceObj.name}}</strong>
    <br/>Account Number: <strong>{{service.account.number}}</strong>
    <br ng-show="service.account.email"/><span ng-show="service.account.email">Email Associated With Account: <strong>{{service.account.email}}</strong></span>
    <br ng-show="service.account.phone"/><span ng-show="service.account.phone">Phone Number Associated with Account: <strong>{{service.account.phone}}</strong></span></p>
    </div>
    <div ng-if="servicesUnderOneAccount">
    <p><strong><span ng-repeat="service in services | filter:showService"><span ng-if="!$first && !$last">, </span><span ng-if="$last && !$first"> and </span>{{service.serviceObj.name}}<span ng-if="!$first && $last"></span></span></strong>
    <br/>Account Number: <strong>{{singleAccount.number}}</strong>
    <br ng-show="singleAccount.email"/><span ng-show="singleAccount.email">Email Associated With Account: <strong>{{singleAccount.email}}</strong></span>
    <br ng-show="singleAccount.phone"/><span ng-show="singleAccount.phone">Phone Number Associated with Account: <strong>{{singleAccount.phone}}</strong></span></p>
    </div>
    <p>Sincerely,</p>
    <p>{{customer.firstName}} {{customer.lastName}}</p>
  </div>
</div>
<div id="letter" style="display:none">
  <div id="subscriberContactAddress">
    <p style="margin:0">{{customer.firstName}} {{customer.lastName}}</p>
    <p style="margin:0">{{customer.address.address1}}</p>
    <p style="margin:0">{{customer.address.address2}}</p>
    <p style="margin:0">{{customer.address.city}}<span ng-if="customer.address.province">,</span> {{customer.address.province}}</p>
    <p>{{customer.address.postalcode}}</p>
  </div>
  <p>{{date}}</p>
  <div id="serviceContactAddress">
    <p style="margin:0">{{company.address.address1}}</p>
    <p style="margin:0">{{company.address.address2}}</p>
    <p style="margin:0">{{company.address.city}}, {{company.address.province}}</p>
    <p style="margin:0 0 10px 0">{{company.address.postalcode}}</p>
  </div>
  <p>To: {{company.name}} {{company.contactActor.title}},</p>
  <p>Re: {{customer.firstName}} {{customer.lastName}}</p>
  <div id="serviceContactActor">
    <p>Dear {{company.contactActor.firstName}} {{company.contactActor.lastName}}<span ng-if="company.contactActor.lastName">,</span> {{company.contactActor.title}}:</p>
  </div>
  <p>I am a subscriber to your <span ng-repeat="service in services | filter:showService"><span ng-if="!$first && !$last">, </span><span ng-if="$last && !$first"> and </span>{{service.serviceObj.name}}<span ng-if="$first && $last"> service</span><span ng-if="!$first && $last"> services</span></span>, and am interested in understanding the kinds of personal information that you maintain and retain about me. So this is a request to access my personal data under Principle 4.9 of Schedule 1 and section 8 of Canada's federal privacy legislation, the Personal Information Protection and Electronic Documents Act (PIPEDA).</p>
  <p>I am requesting a copy of all records which contain my personal information from your organization. The following is a non-exclusive listing of all information that {{company.name}} may hold about me, including the following:
  <p style="margin:10pt 0 0 20pt; font-style:italic" ng-repeat="servicePiiType in piiTypes">* {{servicePiiType}}</li>
  <p style="margin:30pt 0 0 0">If your organization has other information in addition to these items, I formally request access to that as well. Please ensure that you include all information that is directly associated with my name, phone number, e-mail, or account number, as well as any other account identifiers that your company may associate with my personal information.</p>
  <p style="margin:0pt 0 0 0">You are obligated to provide copies at a free or minimal cost within thirty (30) days in receipt of this message. If you choose to deny this request, you must provide a valid reason for doing so under Canada's PIPEDA. Ignoring a written request is the same as refusing access. See the guide from the Office of the Privacy Commissioner at: <a href="http://www.priv.gc.ca/information/guide_e.asp#014">http://www.priv.gc.ca/information/guide_e.asp#014</a>. The Commissioner is an independent oversight body that handles privacy complaints from the public.</p>
  <p style="margin:12pt 0 0 0">Please let me know if your organization requires additional information from me before proceeding with my request.</p>
  <p style="margin:12pt 0 0 0">Here is information that may help you identify my records:</p>
  <p style="margin:12pt 0 0 0">Full Name: <strong>{{customer.firstName}} {{customer.lastName}}</strong></p>
  <div ng-if="!servicesUnderOneAccount">
    <div ng-repeat="service in services | filter:showService">
    <p><strong><span ng-repeat="service in services | filter:showService"><span ng-if="!$first && !$last">, </span><span ng-if="$last && !$first"> and </span>{{service.serviceObj.name}}<span ng-if="!$first && $last"></span></span></strong></p>
    <p style="margin:6pt 0 0 0">Account Number: <strong>{{service.account.number}}</strong></strong></p>
    <p style="margin:6pt 0 0 0" ng-show="service.account.email">Email Associated With Account: <strong>{{service.account.email}}</strong></p>
    <p style="margin:6pt 0 auto 0" ng-show="service.account.phone">Phone Number Associated with Account: <strong>{{service.account.phone}}</strong></p>
    </div>
  </div>
  <div ng-if="servicesUnderOneAccount">
    <p><strong>{{service.serviceObj.name}}</strong></p>
    <p style="margin:6pt 0 0 0">Account Number: <strong>{{singleAccount.number}}</strong></strong></p>
    <p style="margin:6pt 0 0 0" ng-show="singleAccount.email">Email Associated With Account: <strong>{{singleAccount.email}}</strong></p>
    <p style="margin:6pt 0 auto 0" ng-show="singleAccount.phone">Phone Number Associated with Account: <strong>{{singleAccount.phone}}</strong></p>
  </div>

  <p style="margin:12pt 0 0 0">Sincerely,</p>
  <p style="margin:50pt 0 0 0">{{customer.firstName}} {{customer.lastName}}</p>
</div>
<div class="clearfix p-bg p-bg-l bg-success mart10 marb10">
  <h2 class="mart0 marb10">Thanks for creating your letter!</h2>
  <a class="btn btn-primary btn-xl btn-block" href="https://openmedia.ca/MyInfo/reminder" target="_parent">Continue on to maximize your impact&nbsp;<i class="fa fa-external-link"></i></a>
</div>