<div ng-message="R1" translate="R1" translate-values="{count: $parent.response.data.count, operator: $parent.response.data.operator, jurisdiction: $parent.response.data.jurisdiction}"></div>
<div ng-message="R2" translate="R2" translate-values="{operator: $parent.response.data.operator}"></div>
<div ng-message="R3" translate="R3"></div>
<div ng-message="D1" translate="D1"></div>
<div ng-message="V1" translate="V1" translate-values="{email: response.data.email_address}"></div>
<div ng-message="V2" translate="V2"></div>
<div ng-message="V3" translate="V3"></div>
<div ng-message="V4" translate="V4"></div>
<div ng-message="V5" translate="V5"></div>
<div ng-message="V6" translate="V6" translate-values="{email: response.data.email_address}"></div>
<div ng-message="V7" translate="V7"></div>
<div ng-message="M1" translate="M1"></div>
<div ng-message="M2" translate="M2"></div>
<div ng-message="U1" translate="U1" translate-values="{email: response.data.email_address}"></div>
<div ng-message="U2" translate="U2" translate-values="{email: response.data.email_address}"></div>
<div ng-message="F1" translate="F1"></div>
<div ng-message="F2" translate="F2"></div>
<div ng-message="F2" translate="F2"></div>