<div ng-message="R1"><span translate="messages.R1" translate-values="{count: $parent.serverResponse.response.data.count, operator: $parent.serverResponse.response.data.operator, jurisdiction: $parent.serverResponse.response.data.jurisdiction}"></span></div>
<div ng-message="R2"><span translate="messages.R2" translate-values="{operator: $parent.serverResponse.response.data.operator}"></span></div>
<div ng-message="R3"><span translate="messages.R3"></span></div>
<div ng-message="D1"><span translate="messages.D1"></span></div>
<div ng-message="V1"><span translate="messages.V1" translate-values="{email: serverResponse.response.data.email_address}"></span></div>
<div ng-message="V2"><span translate="messages.V2"></span></div>
<div ng-message="V3"><span translate="messages.V3"></span></div>
<div ng-message="V4"><span translate="messages.V4"></span></div>
<div ng-message="V5"><span translate="messages.V5"></span></div>
<div ng-message="V6"><span translate="messages.V6" translate-values="{email: serverResponse.response.data.email_address}"></span></div>
<div ng-message="V7"><span translate="messages.V7"></span></div>
<div ng-message="M1"><span translate="messages.M1"></span></div>
<div ng-message="M2"><span translate="messages.M2"></span></div>
<div ng-message="U1"><span translate="messages.U1" translate-values="{email: serverResponse.response.data.email_address}"></span></div>
<div ng-message="U2"><span translate="messages.U2" translate-values="{email: serverResponse.response.data.email_address}"></span></div>
<div ng-message="F1"><span translate="messages.F1"></span></div>
<div ng-message="F2"><span translate="messages.F2"></span></div>
<div ng-message="F2"><span translate="messages.F2"></span></div>