<!-- <div class="btn btn-default marb10" ng-click="previous()" ng-enter="previous()" tabindex="2"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back to Overview</div> -->
<h2 translate="questions.title"></h2>
<div class="clearfix bg-info p-bg marb10"><span class="va-mid text-center col-xs-1 hidden-xs"><i class="fa fa-question-circle bigIcon "></i></span><p class="va-mid col-xs-11"><span translate="questions.callout"></span></p></div>
<div class="well">
  <div ng-repeat="componentType in components ">
  <div ng-show="componentType.activated">
  <h3 ng-show="componentType.id === 'questions'"><span translate="questions.label-questions" translate-values="{operator: operator.title}"></span> <span class="required">*</span></h3>
  <h3 ng-show="componentType.id === 'data'" class="mart30"><span translate="questions.label-data" translate-values="{operator: operator.title}"></span> <span class="required">*</span></h3>
  <h3 ng-show="componentType.id === 'dataBanks'" class="mart30"><span translate="questions.label-databanks" translate-values="{operator: operator.title}"></span> <span class="required">*</span></h3>
  <p ng-show="componentType.id === 'dataBanks'">Federal government departments store personal data in &ldquo;data banks&rdquo;. Specifying specific data banks for {{operator.title}} to look through to find your personal data will improve the chances of a successful request. We have identified some data banks of interest, but please check the full list <a href="{{operator.meta.bankHref}}" target="_blank">here</a> and add any you see fit.</p>
  <ul class="list-unstyled question-list clearfix">
    <li ng-repeat="component in componentType.items" class="col-sm-12">
      <div ng-if="!component.editable" class="flexy">
      <div class="checkbox flexy-big">
      <label>
        <input type="checkbox" ng-model="component.selected"/>{{component.data}}
      </label>
      </div>
      <div ng-if="component.description.length" class="flexy-small text-right">
        <button class="btn btn-sm btn-info" ng-click="component.isCollapsed = !component.isCollapsed">Show description <i class="fa" ng-class="{'fa-caret-down': component.isCollapsed, 'fa-caret-right': !component.isCollapsed}"></i></button>
      </div>
      </div>
      <div ng-if="!component.editable && component.description.length" uib-collapse="!component.isCollapsed" ng-bind-html="component.description" class="clearfix"></div>
      <div ng-if="(component.editable && componentType.toUpdate !== component)" class="flexy">
        <div class="checkbox flexy-big">
        <label>
        <input type="checkbox" ng-model="component.selected"/>{{component.data}}
        </label>
        </div>
        <div class="flexy-small text-right">
          <span class="btn btn-info" ng-click="componentType.startUpdate($index)" aria-label="Edit Request Component" title="Edit Request Component">
            <i class="fa fa-edit"></i>
          </span>
          <span class="btn btn-warning" ng-click="componentType.delete($index)" aria-label="Remove Request Component" title="Remove Request Component">
            <i class="fa fa-close"></i>
          </span>
        </div>
      </div>
      <div ng-if="(component.editable && componentType.toUpdate == component)" class="flexy form-inline">
        <div class="flexy-big">
          <div class="form-group">
          <input type="text" ng-model="component.data" class="form-control" ng-enter="componentType.update(component, $index)" focus-me="componentType.toUpdate === component">
          </div>
        </div>
        <div class="flexy-small text-right">
          <span class="btn btn-info" ng-click="componentType.update(component, $index)"  aria-role="button" aria-label="Update Request Component" title="Update Request Component">
            <i class="fa fa-check"></i>
          </span>
          <span class="btn btn-warning" ng-click="componentType.startUpdate(-1)"  aria-role="button" aria-label="Cancel Update to Request Component" title="Cancel Update to Request Component">
            <i class="fa fa-close"></i>
          </span>
        </div>
      </div>
    </li>
  </ul>
  <div class="mart10" ng-show="componentType.id === 'questions'">
  <label>New Question</label>
  <div class="input-group">
  <input type="text" placeholder="Type a question" class="form-control" ng-model="componentType.toAdd" ng-enter="componentType.new()">
  <span class="input-group-btn">
  <button class="btn btn-info" ng-disabled="!componentType.verify(componentType.toAdd)" ng-click="componentType.new()" aria-role="button" aria-label="Add Question" title="Add Question">
    <i class="fa fa-plus"></i>
  </button>
  </div>
  </span>
  </div>
  <div class="mart10" ng-show="componentType.id === 'data'">
  <label>New Data Type</label>
  <div class="input-group">
  <input type="text" placeholder="Describe the data you want" class="form-control" ng-model="componentType.toAdd" ng-enter="componentType.new()">
  <span class="input-group-btn">
  <button class="btn btn-info" ng-disabled="!componentType.verify(componentType.toAdd)" ng-click="componentType.new()" aria-role="button" aria-label="Add Data Type" title="Add Data Type">
    <i class="fa fa-plus"></i>
  </button>
  </span>
  </div>
  </div>
  <div class="mart10" ng-show="componentType.id === 'dataBanks'">
  <label>Add Data Bank to request</label>
  <div class="input-group">
  <input type="text" placeholder="Describe the data bank you want" class="form-control" ng-model="componentType.toAdd" ng-enter="componentType.new()">
  <span class="input-group-btn">
  <button class="btn btn-info" ng-disabled="!componentType.verify(componentType.toAdd)" ng-click="componentType.new()" aria-role="button" aria-label="Add Data Bank" title="Add Data Bank">
    <i class="fa fa-plus"></i>
  </button>
  </span>
  </div>
  <p class="help-block">To add another data bank to your request, please consult the full list of {{operator.title}} data banks <a href="{{operator.meta.bankHref}}" target="_blank">here</a>.</p>
  </div>
  <hr/>
  </div>
  </div>
  <a ng-href="{{nextStage.path}}" class="btn btn-primary mart30" ng-class="{disabled:  (nextStage.selecting || nextStage.restricted)}">
<span ng-if="!nextStage.selecting">&nbsp;<span translate="status.next"></span></span>
<span ng-if="nextStage.selecting">&nbsp;<span translate="status.wait"></span></span>
<i class="fa" ng-class="{'fa-arrow-right': !nextStage.selecting, 'fa-spinner': nextStage.selecting, rotating: nextStage.selecting}"></i> 
</a>
</div>