<!-- <div class="btn btn-default marb10" ng-click="previous()" ng-enter="previous()" tabindex="2"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back to Overview</div> -->
<div class="container center">
  <h2 class="textalign-center clearfix paddinghorizontal-medium paddinghorizontal-none-ns" translate="request.title" translate-values="{operator: operator.title}"></h2>
  <p class="darkgray lineheight-copy paddinghorizontal-medium paddinghorizontal-none-ns" translate="request.callout" translate-values="{operator: operator.title}"></p>
  <p ng-if="(!letterDoneState || displayInstructions)" class="paddinghorizontal-medium paddinghorizontal-none-ns"><span translate="request.instructions.read-careful"></span></p>

  <div class="backgroundcolor-black05 f5 paddingvertical-medium paddinghorizontal-large lineheight-1p5 clearfix">
    <request-template id="request" jurisdiction="jurisdiction" industry="industry" operator="operator" servicelist="servicelist" subject="subject" date="date" componentquestions="componentquestions" componentdata="componentdata" services="services" pdf="pdf" email="email" emailsubject="'Formal Request for Personal Information Held By Your Company'" pdffilenameprefix="'Access_To_Information_Request'"></request-template>
  </div>

  <h3 class="darkgray lineheight-copy paddinghorizontal-medium paddinghorizontal-none-ns" translate="request.instructions.choice-intro"></h3>

  <!-- EMAIL OPTION BEGIN -->
  <div ng-if="operator.meta.privacy_officer_email">
  <p class="darkgray darkteal f3 b paddinghorizontal-medium paddinghorizontal-none-ns">
    <img class="display-none display-inline-ns width-large verticalalign-middle marginright-small" src="images/illustrations/EmailOption.png" />
    <span ng-if="!(pdfOptionEnabled && operator.meta.privacy_contact_address_1)" translate="request.instructions.email-title"></span>
    <span ng-if="pdfOptionEnabled && operator.meta.privacy_contact_address_1" translate="request.instructions.email-title-option-1"></span>
  </p>
  <div class="backgroundcolor-lightgrey padding-medium clearfix">
    <div ng-if="(!letterDoneState || displayInstructions)">
      <div ng-if="operator.meta.privacy_officer_email">
        <p class="lineheight-copy margintop-none" translate="request.instructions.email-instructions"></p>
        <div class="clearfix">
            <address class="fontstyle-normal f5 paddingleft-medium borderleft-thick bordercolor-white marginbottom-medium lineheight-1p5">
              <!-- <span translate="request.instructions.privacy-officer-title" translate-values="{operator: operator.title}"></span>
              <br/> --><strong>{{operator.meta.privacy_officer_email}}</strong>
            </address>
        </div>
      </div>
      <span class="marb10 bg-danger p-bg" ng-if="!operator.meta.privacy_officer_email" translate="request.email-unavailable"></span>
    </div>
    <div class="clear-both clearfix">
      <div class="width-80p-ns float-left">
        <p class="darkred f5 b lineheight-copy margintop-none paddingright-medium-ns" translate="request.callout-hkid-email"></p>
      </div>
      <div class="width-20p-ns float-left textalign-right">
        <img class="width-xlarge maxwidth-100p marginbottom-medium" src="images/hkid-sample.png" />
      </div>      
    </div>
    <div class="clearfix" ng-class="{faded: (letterDoneState && !displayInstructions)}">
      <div>
        <a ng-href="{{email.contents}}" target="_blank" tabindex="1" ng-click="emailClick()" ng-mouseenter="emailBtnHover = true" ng-mouseleave="emailBtnHover = false" >
          <button class="btn btn-primary" ng-class="{disabled: !operator.meta.privacy_officer_email}">
            <span translate="request.emailButton"></span>
          </button>
        </a>
        <!--
        <div class="tooltip-container margintop-small gray small" ng-if="(displayEmailExtras && emailBtnHover)">
          <div class="tooltip bottom">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner" translate="request.emailProblem" translate-values="{email: operator.meta.privacy_officer_email}"></div>
          </div>
        </div>
        -->
      </div>
    </div>
    <div class="clearfix p-bg p-bg-l bg-success mart10 marb10" ng-if="letterDoneState">
      <h2 class="mart0 marb10" translate="request.thanks"></h2>
    </div>
    <div class="b f5 margintop-medium">
      <span translate="request.instructions.email-empty-prompt"></span>
      <div class="margintop-none cursor-pointer darkteal" ngclipboard data-clipboard-target="#request">
        <span translate="request.instructions.email-empty-instructions"></span>
      </div>
    </div>
  </div>
  </div>
  <!-- EMAIL OPTION END -->
  <div ng-if="pdfOptionEnabled && operator.meta.privacy_contact_address_1">
  <p class="darkgray darkteal f3 b paddinghorizontal-medium paddinghorizontal-none-ns margintop-large">
    <img class="display-none display-inline-ns width-large verticalalign-middle marginright-small" src="images/illustrations/PostalOption.png" />
    <span ng-if="!operator.meta.privacy_officer_email" translate="request.instructions.post-title"></span>
    <span ng-if="operator.meta.privacy_officer_email" translate="request.instructions.post-title-option-2"></span>
  </p>
  <div class="backgroundcolor-lightgrey padding-medium clearfix">
    <div ng-if="(!letterDoneState || displayInstructions)">
      <p class="lineheight-copy margintop-none" translate="request.instructions.post-instructions"></p>
      <div class="clearfix row">
        <address class="fontstyle-normal f5 paddingleft-medium borderleft-thick bordercolor-white marginbottom-medium lineheight-1p5">
          <!-- <strong translate="request.instructions.privacy-officer-title" translate-values="{operator: operator.title}"></strong>
          <br/> -->
          {{operator.meta.privacy_contact_address_1}}
          <br ng-if="operator.meta.privacy_contact_address_2"/>{{operator.meta.privacy_contact_address_2}}
          <br/>{{operator.meta.privacy_contact_city}}, {{operator.meta.privacy_contact_province_state}}
          <br/>{{operator.meta.privacy_contact_postal_code}}
          <!--
          <div ng-if="operator.meta.privacy_officer_email" class="mart5">Or email to: {{operator.meta.privacy_officer_email}}</div>
          -->
        </address>
      </div>
    </div>
    <div class="clear-both clearfix">
      <div class="width-80p-ns float-left">
        <p class="darkred f5 b lineheight-copy margintop-none paddingright-medium-ns" translate="request.callout-hkid-postal"></p>
      </div>
      <div class="width-20p-ns float-left textalign-right">
        <img class="width-xlarge maxwidth-100p marginbottom-medium" src="images/hkid-sample.png" />
      </div>      
    </div>
    <div class="btn btn-lg btn-primary generatorBtn" ng-class="{disabled:pdf.isGenerating, faded: (letterDoneState && !displayInstructions)}" ng-click="generatePDF()" ng-enter="generatePDF()" tabindex="1"> 
      <span ng-show="!pdf.isGenerating && !pdf.isGenerated">
         &nbsp;<span translate="request.pdfButton.generate"></span>
        </span>
        <span ng-show="pdf.isGenerating && !pdf.isGenerated">
          &nbsp;<span translate="status.wait"></span>
        </span>
        <span ng-show="!pdf.isGenerating && pdf.isGenerated">
          &nbsp;<span translate="request.pdfButton.re-save"></span>
        </span>
    </div>
  </div>
  </div>

  <hr class="marginvertical-large" />

  <p class="darkgray b lineheight-copy paddinghorizontal-medium paddinghorizontal-none-ns" translate="request.thanks"></p>
  
  <p class="paddinghorizontal-medium paddinghorizontal-none-ns" translate="category.socialMediaMessage"></p>
  <div class="paddinghorizontal-medium paddinghorizontal-none-ns">
    <a class="btn btn-social fill-white" ng-href="https://www.facebook.com/sharer/sharer.php?u={{shareURL}}">
      <img ng-src="images/facebook.svg" class="width-large paddingvertical-xsmall paddinghorizontal-xsmall"/>
    </a>
    <a class="btn btn-social fill-white" ng-href="https://twitter.com/home?status={{shareURL}}">
      <img ng-src="images/twitter.svg" class="width-large paddingvertical-xsmall paddinghorizontal-xsmall"/>
    </a>
    <span class="display-none-ns">
        <a class="btn btn-social fill-white" ng-href="whatsapp://send?text={{shareURL}}" data-action="share/whatsapp/share">
            <img class="width-large paddingvertical-xsmall paddinghorizontal-xsmall" ng-src="images/whatsapp.svg"/>
        </a>
    </span>
  </div>
 

  <div class="margintop-large clearfix paddinghorizontal-medium paddinghorizontal-none-ns">
    <button ng-click="previous()" class="btn btn-previous float-left" ng-disabled="(previousStage.selecting || previousStage.restricted)">
        <span translate="status.previous"></span>
    </button>
  </div>
</div>