<!-- <div class="btn btn-default marb10" ng-click="previous()" ng-enter="previous()" tabindex="2"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back to Overview</div> -->
<div class="container center">
<div ng-if="serverResponse.success" class="backgroundcolor-lightgrey padding-medium">
      <div ng-messages="serverResponse.responseStatuses">
        <div ng-messages-include="status-messages"></div>
      </div>
    </div>
  <h2 class="textalign-center clearfix" translate="request.title" translate-values="{operator: operator.title}"></h2>
  <div class="">
    <div class="" ng-if="(displayInstructions && letterDoneState)" ng-click="instructionsDisplayToggle()"><span translate="request.instructions.hide">!!</span> <i class="fa fa-chevron-up"></i></div>
    <div class="" ng-if="(!displayInstructions && letterDoneState)" ng-click="instructionsDisplayToggle()"><span translate="request.instructions.show"></span> <i class="fa fa-chevron-down"></i></div>
  </div>
  <p ng-if="(!letterDoneState || displayInstructions)" class="bigger"><strong translate="request.instructions.read-careful"></strong></p>

  <div class="clearfix">
    <div ng-show="pdfOptionEnabled">
      <div ng-if="(!letterDoneState || displayInstructions)">
        <p translate="request.instructions.post-instructions"></p>
        <div class="clearfix row">
          <address class="small">
            <strong translate="request.instructions.privacy-officer-title" translate-values="{operator: operator.title}"></strong>
            <br/>{{operator.meta.privacy_contact_address_1}}
            <br ng-if="operator.meta.privacy_contact_address_2"/>{{operator.meta.privacy_contact_address_2}}
            <br/>{{operator.meta.privacy_contact_city}}, {{operator.meta.privacy_contact_province_state}}
            <br/>{{operator.meta.privacy_contact_postal_code}}
            <div ng-if="operator.meta.privacy_officer_email" class="mart5">Or email to: {{operator.meta.privacy_officer_email}}</div>
          </address>
        </div>
      </div>
    </div>
    <div class="marb10" ng-show="pdfOptionEnabled">
      <div class="btn btn-lg btn-primary generatorBtn" ng-class="{disabled:pdf.isGenerating, faded: (letterDoneState && !displayInstructions)}" ng-click="generatePDF()" ng-enter="generatePDF()" tabindex="1">
          <span class="fa" ng-class="{'fa-file-pdf-o': !nextIsLoading, 'fa-spinner': nextIsLoading, rotating: nextIsLoading}"></span> 
        <span ng-show="!pdf.isGenerating && !pdf.isGenerated">
           &nbsp;<span translate="request.pdfButton.generate"></span>
          </span>
          <span ng-show="pdf.isGenerating && !pdf.isGenerated">
            &nbsp;<span translate="status.wait"></span>
          </span>
          <span ng-show="!pdf.isGenerating && pdf.isGenerated">
            &nbsp;<span translate="request.pdfButton.re-save"></span>
          </span>
      </div>
    </div>
    <div>
      <div ng-if="(!letterDoneState || displayInstructions)"><div ng-if="operator.meta.privacy_officer_email"><p translate="request.instructions.email-instructions"></p>
      <div class="clearfix row">
          <address class="fontstyle-normal darkteal marginbottom-medium lineheight-1p5">
            <span translate="request.instructions.privacy-officer-title" translate-values="{operator: operator.title}"></span>
            <br/><strong>{{operator.meta.privacy_officer_email}}</strong>
          </address>
      </div></div>
      <span class="marb10 bg-danger p-bg" ng-if="!operator.meta.privacy_officer_email" translate="request.email-unavailable"></span>
      </div>
    </div>
  </div>
  <div class="clearfix row" ng-class="{faded: (letterDoneState && !displayInstructions)}">
    <div class="col-xs-12 col-sm-6">
      <div>
        <a class="btn marb10 btn-primary btn-lg btn-block" ng-class="{disabled: !operator.meta.privacy_officer_email}" ng-href="{{email.contents}}" target="_blank" tabindex="1" ng-click="emailClick()" ng-mouseenter="emailBtnHover = true" ng-mouseleave="emailBtnHover = false" >
          <span class="fa fa-send"></span>&nbsp;&nbsp;<span translate="request.emailButton"></span>
        </a>
        <div class="tooltip-container" ng-if="(displayEmailExtras && emailBtnHover)">
          <div class="tooltip bottom">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner" translate="request.emailProblem" translate-values="{email: operator.meta.privacy_officer_email}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix p-bg p-bg-l bg-success mart10 marb10" ng-if="letterDoneState">
    <h2 class="mart0 marb10" translate="request.thanks"></h2>
    Share!!
    </a>
  </div>
  <div class="backgroundcolor-lightgrey padding-medium margintop-large">
    <h3 class="f5 margintop-none">Is body of the email empty?</h3>
    <button class="btn btn-primary xsmall" ngclipboard data-clipboard-target="#request">Copy the text below to paste into the email</button>
    <div class="backgroundcolor-white xsmall black60 paddingvertical-small paddinghorizontal-large margintop-medium">
      <request-template id="request" jurisdiction="jurisdiction" industry="industry" operator="operator" servicelist="servicelist" subject="subject" date="date" componentquestions="componentquestions" componentdata="componentdata" services="services" pdf="pdf" email="email" emailsubject="'Formal Request for Personal Information Held By Your Company'" pdffilenameprefix="'Access_To_Information_Request'"></request-template>
    </div>
  </div>
  <div class="margintop-large clearfix">
    <a ng-href="{{previous.path}}" class="btn btn-previous float-left" ng-class="{disabled:  (nextStage.selecting || nextStage.restricted)}">
        <span translate="status.previous"></span>
    </a>
    <a ng-href="{{nextStage.path}}" class="btn btn-primary float-right" ng-class="{disabled:  (nextStage.selecting || nextStage.restricted)}">
    <!-- <span ng-if="!nextStage.selecting"> -->
      <span translate="status.next"></span>
    <!-- </span>
      <span ng-if="nextStage.selecting"><span translate="status.wait"></span></span> -->
    </a>
  </div>
</div>