<!-- <div class="btn btn-default" ng-click="previous()" ng-enter="previous()" tabindex="2"><span class="glyphicon glyphicon-chevron-left"></span> Back to Services</div> -->
<div class="container center">
	<h2 class="textalign-center paddinghorizontal-medium paddinghorizontal-none-ns" translate="subject.title"></h2>
	<p class="darkgray lineheight-copy paddinghorizontal-medium paddinghorizontal-none-ns" translate="subject.callout"></p>
	<p class="darkteal b lineheight-copy paddinghorizontal-medium paddinghorizontal-none-ns" translate="subject.callout-not-store"></p>
	<form>
		<fieldset class="backgroundcolor-black05 bordercolor-lightgrey padding-medium padding-large-ns margin-none">
		    <!-- <h3 class="margintop-none" ng-if="basic_identifiers" translate="subject.label"></h3> -->
		    <div ng-repeat="identifier in basic_identifiers | object2Array | orderBy:'+weight'">
		      	<form-item class="form-item" id="identifier.id" fieldtype="identifier.meta.form_field_type" options="identifier.meta.field_options" weight="identifier.weight" label="identifier.title" ng-model="subject.basic_personal_info">
		  		</form-item>
		    </div>
		    <div ng-repeat="(key, identifiers) in service_identifiers">
		    
		    <!-- unncessary title + optional field appears here for some reason
		    <h3 ng-repeat="service in services" ng-show="service.id == key && identifiers.length">{{service.title}}</h3>
		    <div class="form-group col-sm-12" ng-repeat="identifier in identifiers | object2Array | orderBy:'+weight'">
		      <form-item id="identifier.id" fieldtype="identifier.meta.form_field_type" options="identifier.meta.field_options" weight="identifier.weight" label="identifier.title" ng-model="subject.service_identifiers[key]"></form-item>
		    </div>
			-->
		    </div>

			<hr />
			<div class="form-group margintop-medium">
				<p translate="finish.consent-clause"></p>
				<div class="checkbox clearfix">
					<label>
						<div class="width-10p textalign-center float-left">
							<input type="checkbox"  tabindex="1" ng-model="statistics" ng-true-value="true" ng-false-value="false"/>
						</div>
						<div class="width-90p float-left clear-right">
							<span translate="finish.label-data"></span>
						</div>
					</label>
				</div>
				<!-- hide/delete below? -->
				<div class="clear-both clearfix" style="position: absolute; left:-9999px; top:-9999px;">
					<div class="width-90p gray float-right">
						<p translate="finish.text-data" translate-values="{operator: anon.operator.title, servicelist: servicelist, jurisdiction: anon.jurisdiction.title, date: anon.date}"></p>
					</div>
				</div>
				<!-- end hide delete -->
				<div class="margintop-medium marginbottom-large">
					<div class="checkbox clearfix">
						<label>
							<div class="width-10p textalign-center float-left">
								<input type="checkbox" ng-disabled="!statistics" ng-model="subscribe" ng-true-value="true" ng-false-value="false" readonly="false"/>
							</div>
							<div class="width-90p float-left clear-right" ng-class="{'silver': !statistics}">
								<span translate="finish.label-subscribe"></span>
							</div>
						</label>
					</div>
					<!-- hide/delete below? -->
					<div class="clear-both clearfix">
						<div class="width-90p gray float-right">
							<label ng-if="(!hasEmailField && !hasEmail) && subscribe">
								<span translate="finish.email"></span> <span class="required">*</span>
							</label>
							<input type="email" name="email" tabindex="1" class="form-control" ng-disabled="!subscribe || !statistics" ng-model="email.address" ng-if="(!hasEmailField && !hasEmail) && subscribe" />
						</div>
					</div>
					<!-- end hide delete -->
				</div>
			</div>

			<div class="margintop-medium clearfix">
				<button ng-click="previous()" class="btn btn-previous float-left" ng-disabled="(previousStage.selecting || previousStage.restricted)">
				    <span translate="status.previous"></span>
				</button>
				<button ng-click="submitAndNext()" class="btn float-right btn-primary">
					<!-- states removed from above since it didn't work/always showed up as disabled
						ng-disabled="nextStage.selecting || nextStage.restricted" ng-class="{'btn-primary': (!nextStage.selecting && !nextStage.restricted)}, 'btn-disabled': (nextStage.selecting || nextStage.restricted)}"
					-->
					<span translate="status.next"></span>
				</button>
			</div>
		</fieldset>
	</form>
</div>